<div class="openid-callback-container">
  @if (isLoading) {
    <div class="loading">
      <app-typography [variant]="TypographyTypeEnum['h6-semibold']">
        {{ 'openIdCallback.authenticating' | translate }}
      </app-typography>
      <app-loader></app-loader>
    </div>
  } @else if (errorMessage) {
    <div class="error">
      <app-typography [variant]="TypographyTypeEnum['h6-semibold']">
        {{ 'openIdCallback.authError' | translate }}
      </app-typography>
      <app-typography [variant]="TypographyTypeEnum['body-regular']">
        {{ errorMessage }}
      </app-typography>
      <app-typography [variant]="TypographyTypeEnum['body-s-regular']">
        {{ 'openIdCallback.redirecting' | translate }}
      </app-typography>
    </div>
  }
</div>
