<div class="openid-callback-container">
  @if (isLoading) {
    <div class="loading">
      <app-typography [variant]="TypographyTypeEnum['h6-semibold']">
        Authentification en cours...
      </app-typography>
      <div class="spinner"></div>
    </div>
  } @else if (errorMessage) {
    <div class="error">
      <app-typography [variant]="TypographyTypeEnum['h6-semibold']">
        Erreur d'authentification
      </app-typography>
      <app-typography [variant]="TypographyTypeEnum['body-regular']">
        {{ errorMessage }}
      </app-typography>
      <app-typography [variant]="TypographyTypeEnum['body-s-regular']">
        Redirection vers la page de connexion...
      </app-typography>
    </div>
  }
</div>
