.openid-callback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;

  .loading,
  .error {
    text-align: center;
    max-width: 500px;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .error {
    color: #e74c3c;

    app-typography {
      margin-bottom: 1rem;
      display: block;
    }
  }
}
