.tab-bar {
  --background: var(--app-background);
  border-top: 1px solid var(--app-border-color);
  height: 60px;

  .tab-button {
    --background-focused: transparent;
    --color: var(--app-text-tertiary);
    --color-selected: var(--ion-color-primary);
    --padding-start: 0;
    --padding-end: 0;
    position: relative;

    .tab-icon {
      font-size: 24px;
    }

    .tab-label {
      font-size: var(--app-font-size-xs);
      margin-top: 2px;
    }

    .notification-badge {
      position: absolute;
      top: 4px;
      right: calc(50% - 16px);
      font-size: 10px;
      min-width: 18px;
      height: 18px;
      padding: 2px 4px;
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.tab-selected {
      .tab-icon,
      .tab-label {
        color: var(--ion-color-primary);
      }
    }
  }
}