@if (isOpen()) {
  <div #backdropRef class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal" [class]="'modal-' + size()">
      @if (title() || showCloseButton()) {
        <div class="modal-header">
          @if (title()) {
            <div class="modal-title-row">
              <app-typography [variant]="TypographyTypeEnum['body-l-bold']" color="var(--slate-800)">
                {{ title() }}
              </app-typography>
              @if (titleHelp()) {
                <span class="modal-title-help" tabindex="0" [attr.aria-label]="titleHelp()">
                  <app-svg src="help-circle" [svgStyle]="{'width.px': 16, 'height.px': 16}"></app-svg>
                  <span class="modal-title-tooltip">{{ titleHelp() }}</span>
                </span>
              }
            </div>
          }
          @if (showCloseButton()) {
            <button class="close-button" (click)="close()">
              <app-svg src="close" [svgStyle]="{'width.px': 20, 'height.px': 20}"></app-svg>
            </button>
          }
        </div>
      }
      <div class="modal-body" [class.no-padding]="!bodyPadding()">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
