:root {
  --Black: #000000;
  --White-and-Black-01: #ffffff;
  --White-and-Black-02: #000;
  --Primary-01: #F3F9FF;
  --Primary-02: #DBEDFF;
  --Primary-03: #82BFFF;
  --Primary-04: #208EFF;
  --Primary-05: #0071E6;
  --Gray-01: #FCFCFC;
  --Gray-02: #F7F7F7;
  --Gray-03: #F1F1F1;
  --Gray-04: #E9E9E9;
  --Gray-05: #DDD;
  --Gray-06: #C0C0C0;
  --Gray-07: #959595;
  --Gray-08: #6F6F6F;
  --Gray-09: #474747;
  --Gray-10: #2B2B2B;
  --Bluish-Gray-01: #F9FAFD;
  --Bluish-Gray-02: #F2F4F9;
  --Bluish-Gray-03: #E9EBF3;
  --Bluish-Gray-04: #DDDFE7;
  --Bluish-Gray-05: #CACEDE;
  --Bluish-Gray-06: #ABB0C2;
  --Bluish-Gray-07: #787E94;
  --Bluish-Gray-08: #5C6177;
  --Bluish-Gray-09: #3A3F53;
  --Bluish-Gray-10: #181C30;
  --Blue-01: #F4F9FF;
  --Blue-02: #DEEFFF;
  --Blue-03: #83C0FF;
  --Blue-04: #2D94FF;
  --Blue-05: #006FE3;
  --Green-01: #DFF8E7;
  --Green-02: #B1E7C2;
  --Green-03: #6FD690;
  --Green-04: #42C66B;
  --Green-05: #18AC47;
  --Yellow-01: #FFFCE9;
  --Yellow-02: #FFF4B9;
  --Yellow-03: #FFEB82;
  --Yellow-04: #FDDA21;
  --Yellow-05: #F1CB00;
  --Red-01: #FFF4F3;
  --Red-02: #FFDEDC;
  --Red-03: #FFA09A;
  --Red-04: #FF7169;
  --Red-05: #F94D43;
  --Purple-01: #F4F2FF;
  --Purple-03: #BF71F4;
  --Purple-04: #A137EA;
  --Purple-05: #890FDD;
  --Pink-01: #FBEFF4;
  --Pink-02: #F5D6E4;
  --Pink-03: #F680B7;
  --Pink-04: #E62881;
  --Pink-05: #BF1263;
  --Orange-01: #FFF5E8;
  --Orange-02: #FFE5C6;
  --Orange-03: #FFC682;
  --Orange-04: #FFA337;
  --Orange-05: #FF8A00;
}
