.verify-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--slate-50);

  .verify-container {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .loading-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 32px;
    }

    .error-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
      padding: 24px;
      border-radius: 16px;
      background: var(--White);
      width: 100%;

      app-button {
        width: 100%;
        margin-top: 12px;
      }
    }

    .verification-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
      width: 100%;

      .verification-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        border-radius: 16px;
        background: var(--White);
        margin-top: 8px;

        app-button {
          width: 100%;
        }
      }

      .resend-code {
        margin-top: 16px;
        display: flex;
        gap: 4px;
        align-items: center;

        .resend-link {
          font-size: 14px;
          font-weight: 600;
          color: var(--primary-600);
          cursor: pointer;

          &.disabled {
            opacity: 0.6;
            pointer-events: none;
          }
        }
      }

      .login-link {
        margin-top: 8px;
        display: flex;
        gap: 4px;
        align-items: center;

        .action-link {
          font-size: 14px;
          font-weight: 600;
          color: var(--primary-600);
          cursor: pointer;
        }
      }
    }
  }
}
