.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;

  .login-form {
    gap: 16px;
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 24px;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--White);

    .remember-me-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .divider {
    width: 100%;
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background: var(--slate-300);
    }

    span {
      position: relative;
      background: var(--White);
      padding: 0 12px;
      color: var(--slate-600);
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .login-page {
    padding: 12px;

    .login-form {
      padding: 16px;
    }
  }
}
