.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    gap: 32px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .login-form {
      gap: 16px;
      display: flex;
      padding: 16px;
      border-radius: 16px;
      align-items: center;
      align-self: stretch;
      flex-direction: column;
      justify-content: center;
      background: var(--White);

      .remember-me-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
