<app-modal
  [isOpen]="isOpen"
  [title]="'elementType.title' | translate"
  size="medium"
  [bodyPadding]="false"
  (closed)="onClose()">
  <div class="element-type-list">
    <button
      type="button"
      class="element-type-row"
      (click)="select('appointment')">
      <span class="row-icon appointment">
        <app-svg
          src="calendar"
          [svgStyle]="{'width.px': 18, 'height.px': 18}"></app-svg>
      </span>
      <span class="row-text">
        <span class="row-title">
          {{ 'elementType.appointment' | translate }}
        </span>
        <span class="row-desc">
          {{ 'elementType.appointmentDesc' | translate }}
        </span>
      </span>
      <app-svg
        class="row-chevron"
        src="chevron-right"
        [svgStyle]="{'width.px': 16, 'height.px': 16}"></app-svg>
    </button>

    <button
      type="button"
      class="element-type-row"
      (click)="select('reminder')">
      <span class="row-icon reminder">
        <app-svg
          src="bell"
          [svgStyle]="{'width.px': 18, 'height.px': 18}"></app-svg>
      </span>
      <span class="row-text">
        <span class="row-title">
          {{ 'elementType.reminder' | translate }}
        </span>
        <span class="row-desc">
          {{ 'elementType.reminderDesc' | translate }}
        </span>
      </span>
      <app-svg
        class="row-chevron"
        src="chevron-right"
        [svgStyle]="{'width.px': 16, 'height.px': 16}"></app-svg>
    </button>
  </div>
</app-modal>
