@use '../public/styles/fonts.scss';
@use '../public/styles/classes.scss';
@use '../public/styles/variables.scss';
@use '../public/styles/normalize.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input:disabled {
  opacity: 0.6;
  background: var(--slate-200);
}

.text-link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-underline-offset: auto;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-decoration-line: underline;
    text-underline-position: from-font;
    text-decoration-color: var(--primary-500);
  }
}
