.forgot-password-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  .forgot-password-form {
    gap: 16px;
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 24px;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--White);

    .back-to-sign-in {
      gap: 8px;
      display: flex;
      align-items: center;
    }

    .auth-language-selector {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 480px) {
  .forgot-password-page {
    padding: 12px;

    .forgot-password-form {
      padding: 16px;
    }
  }
}
