a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--primary-600);
  letter-spacing: 0.28px;
  text-underline-offset: auto;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-decoration-line: underline;
  text-underline-position: from-font;
  font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
}
