.reset-password-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;

  .reset-password {
    gap: 32px;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .reset-password-form {
      gap: 16px;
      display: flex;
      padding: 16px;
      border-radius: 16px;
      align-items: center;
      align-self: stretch;
      flex-direction: column;
      justify-content: center;
      background: var(--White);
    }
  }
}

@media (max-width: 480px) {
  .reset-password-page {
    padding: 12px;

    .reset-password {
      gap: 24px;

      .reset-password-form {
        padding: 12px;
      }
    }
  }
}

