<div class="reset-password-page">
  <div class="reset-password">
    <app-typography
      color="var(--slate-800)"
      [variant]="TypographyTypeEnum['h6-semibold']">
      @if (mode === 'reset') {
        Reset Password
      } @else {
        Set Password
      }
    </app-typography>
    <form
      action=""
      class="reset-password-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <app-input
        label="Password"
        type="password"
        name="new-password"
        (focus)="validationService.resetInputValidation(form, 'password')"
        [invalid]="validationService.showError(form, 'password')"
        [invalidMessage]="getFormErrorMessage()"
        formControlName="password"
        [autocomplete]="'new-password'"
        placeholder="********"></app-input>
      <app-input
        label="Confirm Password"
        type="password"
        name="confirm-password"
        (focus)="
          validationService.resetInputValidation(form, 'confirmPassword')
        "
        [invalid]="validationService.showError(form, 'confirmPassword')"
        [invalidMessage]="getFormErrorMessage()"
        formControlName="confirmPassword"
        [autocomplete]="'new-password'"
        placeholder="********"></app-input>

      @if (errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
      }

      <app-button
        [type]="ButtonTypeEnum.submit"
        [block]="true"
        [style]="ButtonStyleEnum.primary"
        text="Continue"
        [loading]="loadingButton"></app-button>
    </form>
  </div>
</div>
