:host {
  width: 100%;

  .input-wrapper {
    gap: 8px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;

    .input-label {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      font-style: normal;
      letter-spacing: 0.32px;
      color: var(--slate-800);
      font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
    }

    .input-container {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      background: var(--White);

      &.small {
        padding: 0;
        margin: 0;
        width: auto;
        border-radius: 6px;
      }

      &.disabled {
        opacity: 0.6;
        background: var(--slate-200);
      }

    }

    .left-icon,
    .right-icon {
      position: absolute;

      svg {
        width: 16px;
        height: 16px;
        fill: var(--slate-500);
      }

    }

    .left-icon {
      left: 14px;
    }

    .right-icon {
      right: 14px;
    }

    input {
      gap: 8px;
      flex: 1;
      display: flex;
      outline: none;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      font-style: normal;
      border-radius: 12px;
      align-items: center;
      letter-spacing: 0.32px;
      width: calc(100% - 5px);
      color: var(--slate-800);
      border: 2px solid var(--slate-200);
      background: var(--White);
      font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;


      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }

      &::placeholder {
        color: var(--slate-400);
      }

      &:focus {
        border: 2px solid var(--primary-400);
      }

      :disabled {
        opacity: 0.6;
      }

      &.has-right-icon {
        padding-right: 32px;
      }

      &.has-left-icon {
        padding-left: 42px;
      }

      &.has-value {
        border: 2px solid var(--primary-400);
      }

      &.small {
        height: 32px;
        padding: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }

      &.invalid {
        color: var(--rose-500);
        border: 2px solid var(--rose-500);
      }
    }

  }

}

