.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  position: fixed;
  //backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.25);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100vh;
  z-index: 1041;
  padding: 16px;
  position: absolute;
  justify-content: end;
  background: transparent;
}

.overlay-content {
  padding: 16px;
  overflow: auto;
  border-radius: 8px;
  position: relative;
  background: var(--White-and-Black-01);

  .overlay-content-header {
    top: 0;
    display: flex;
    position: sticky;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    background: var(--White-and-Black-01);
  }
}

