<div class="backdrop" animate.enter="fade-in" animate.leave="fade-out"></div>
<div
  role="button"
  tabindex="0"
  class="overlay"
  animate.enter="overlay-enter"
  animate.leave="overlay-leave"
  (click)="handleOutsideClick($event)"
  (keydown.enter)="handleOutsideClick($event)"
  (keydown.escape)="handleOutsideClick($event)">
  <div class="overlay-content">
    @if (title()) {
      <div class="overlay-content-header">
        <app-typography color="var(--slate-800)" [variant]="TypographyTypeEnum['h6-medium']">{{title()}}</app-typography>
        <app-button (buttonClick)="onClose($event)" leftIcon="close"  [size]="ButtonSizeEnum.small" [state]="ButtonStateEnum.secondary"></app-button>
      </div>
    }
    <ng-content></ng-content>
  </div>
</div>
