.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100vh;
  z-index: 1041;
  padding: 16px;
  position: absolute;
  justify-content: end;
  background: transparent;
}

.overlay-content {
  padding: 16px;
  overflow: auto;
  border-radius: 8px;
  position: relative;
  background: var(--White);

  .overlay-content-header {
    top: 0;
    display: flex;
    position: sticky;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    background: var(--White);
  }
}

.fade-in {
  animation: fadeIn 300ms ease-out;
}

.fade-out {
  animation: fadeOut 300ms ease-in;
}

.overlay-enter {
  animation: overlayEnter 300ms ease-out;
}

.overlay-leave {
  animation: overlayLeave 300ms ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes overlayEnter {
  from { 
    opacity: 0;
    transform: translateX(100%);
  }
  to { 
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes overlayLeave {
  from { 
    opacity: 1;
    transform: translateX(0);
  }
  to { 
    opacity: 0;
    transform: translateX(100%);
  }
}

