<ion-content>
  <div class="cgu-container">
    <ng-container *ngIf="loading; else loaded">
      <div class="loading-wrapper">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-container>

    <ng-template #loaded>
      <ng-container *ngIf="term">
        <h2 class="cgu-title">{{ term.name }}</h2>

        <div class="cgu-content" [innerHTML]="term.content"></div>

        <ion-button
          expand="block"
          shape="round"
          (click)="onAccept()"
          [disabled]="accepting">
          <ion-spinner *ngIf="accepting" name="crescent" slot="start"></ion-spinner>
          Accept
        </ion-button>
      </ng-container>
    </ng-template>
  </div>
</ion-content>
