.badge {
  gap: 8px;
  display: flex;
  padding: 6px 8px;
  width: fit-content;
  border-radius: 8px;
  align-items: center;
  justify-content: center;

  &.green {
    background: var(--emerald-100);

    .badge-text {
      color: var(--emerald-600);
    }
  }

  &.blue {
    background: var(--primary-100);

    .badge-text {
      color: var(--primary-700);
    }
  }

  &.red {
    background: var(--rose-100);

    .badge-text {
      color: var(--rose-600);
    }
  }

  &.orange {
    background: var(--amber-100);

    .badge-text {
      color: var(--amber-700);
    }
  }

  &.purple {
    background: var(--purple-100);

    .badge-text {
      color: var(--purple-700);
    }
  }

  &.gray {
    background: var(--slate-100);

    .badge-text {
      color: var(--slate-700);
    }
  }

  .badge-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.32px;
    font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
  }
}
