.header {
  display: flex;
  padding: 20px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  background: var(--White-and-Black-01);

  .header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
