.message-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--slate-200);
  border-radius: 12px;
  background: var(--White);
}

.message-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--slate-200);
}

.connection-status {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;

  &.connected {
    background: var(--emerald-100);
    color: var(--emerald-600);
  }

  &.disconnected {
    background: var(--rose-100);
    color: var(--rose-600);
  }
}

.message-list-body {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.no-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--slate-400);
}

.message-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 70%;
  padding: 12px;
  border-radius: 12px;

  &.current-user {
    align-self: flex-end;
    background: var(--primary-100);

    .message-header {
      justify-content: flex-end;
    }
  }

  &.other-user {
    align-self: flex-start;
    background: var(--slate-100);
  }
}

.message-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.message-time {
  color: var(--slate-400);
}

.message-content {
  word-wrap: break-word;
}

.message-list-footer {
  display: flex;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid var(--slate-200);

  app-input {
    flex: 1;
  }
}
