Source: hcw
Section: unknown
Priority: optional
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 python3-pip,
 python3-venv,
 nodejs,
 npm,
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/hcw
#Vcs-Git: https://salsa.debian.org/debian/hcw.git

Package: hcw-backend
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3
Description: HCW@Home - Backend and Admin with Django
 <Insert long description, indented with spaces.>

Package: hcw-practitioner
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: HCW@Home - Frontend dedicated to Practitioner with Angular
 <Insert long description, indented with spaces.>

Package: hcw-patient
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: HCW@Home - Frontend dedicated to Patient with Angular/Ionic
 <Insert long description, indented with spaces.>
