[Unit]
Description=Alephium Dashboard - Scheduler system
After=network.target

[Service]
User=hcw
Environment=VIRTUAL_ENV=/usr/share/hcw/backend/venv
EnvironmentFile=/etc/hcw/backend.conf
WorkingDirectory=/usr/share/hcw/backend/
ExecStart=/usr/share/hcw/backend/venv/bin/celery -A core.celery beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target
