[Unit]
Description=Alephium Dashboard - Background task service
After=network.target

[Service]
User=root
Environment=VIRTUAL_ENV=/usr/share/hcw/bakend/venv
EnvironmentFile=/etc/hcw/backend.conf
WorkingDirectory=/usr/share/hcw/bakend/
ExecStart=/usr/share/hcw/bakend/venv/bin/python3 manage.py run_discord_bot

[Install]
WantedBy=multi-user.target
