.toast {
  top: 10px;
  right: 10px;
  position: fixed;
  z-index: 9999999;
  max-width: 300px;
  margin-top: 1rem;
  height: fit-content;
  border-radius: 12px;
  padding: .75rem 1.25rem;
  animation: move 1s both;
  border: 1px solid transparent;
  font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
}

.toast-success {
  color: var(--White);
  background-color: var(--emerald-500);
  border-color: var(--emerald-600);
}

.toast-error {
  color: var(--White);
  background: var(--rose-500);
  border-color: var(--rose-600);
}

.toast-warning {
  color: var(--slate-800);
  background-color: var(--amber-400);
  border-color: var(--amber-500);
}

.close {
  top: 7px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
}

.toast-heading {
  margin-top: 10px;
  word-wrap: break-word;
}

.toast-body {
  word-wrap: break-word;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
