<div class="cc-collapsible" [class.open]="expanded">
  <button class="cc-discuter" (click)="onToggle($event)">
    <ion-icon class="cc-discuter-icon" name="chatbubbles-outline"></ion-icon>
    <span class="cc-discuter-label">{{ 'home.accessConsultation' | translate }}</span>
    @if (unreadCount > 0 && !expanded) {
      <span class="cc-unread-badge">{{ unreadCount }}</span>
    }
    <ion-icon class="cc-chevron" name="chevron-down-outline"></ion-icon>
  </button>

  @if (expanded) {
    <div class="cc-detail">
      @if (doctorName) {
        <div class="cc-practitioner">
          <div class="cc-avatar">{{ doctorName.charAt(0) }}</div>
          <div class="cc-practitioner-info">
            <span class="cc-doc-name">{{ doctorName }}</span>
            <span class="cc-doc-sub">{{ getFormattedId() }}@if (title) { · {{ title }}}</span>
          </div>
        </div>
      }
      <ng-content></ng-content>
    </div>
  }
</div>
