<ion-content class="ion-padding">
  <div class="untrusted-wrapper">
    <ion-icon name="shield-outline" class="shield-icon"></ion-icon>

    <h1>{{ 'untrustedInstance.title' | translate }}</h1>

    <p class="host-line">
      <strong>{{ host }}</strong>
    </p>

    <p class="reason">
      {{ reasonKey | translate }}
    </p>

    <p class="hint">
      {{ 'untrustedInstance.hint' | translate }}
      <a href="https://hcw-at-home.com" target="_blank" rel="noopener">hcw-at-home.com</a>
    </p>
  </div>
</ion-content>
