:host {
  width: 100%;
}


.radio-group-wrapper {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .input-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0.32px;
    color: var(--slate-800);
    font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
  }

  .switch-radio-container {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .radio-label-wrapper {
      gap: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .hint {
        min-width: 280px;
      }

    }

    .radio-button {
      gap: 12px;
      width: 100%;
      display: flex;
      padding: 12px;
      cursor: pointer;
      align-items: center;
      align-self: stretch;
      border-radius: 12px;
      border: 2px solid var(--slate-200);


      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }


      .radio-inner {
        gap: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .description-wrapper {
          gap: 4px;
          display: flex;
          white-space: nowrap;
          flex-direction: column;

        }

      }

      &.checked {
        border: 2px solid var(--primary-400);
        background: var(--primary-50);


        .radio-visualization {
          border-color: var(--primary-500);

          .radio-visualization__inner {
            transform: scale(1);
          }
        }
      }
    }
  }

}

