:host {
  width: 100%;

  .error-message-wrapper {
    gap: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;
    color: var(--rose-500);
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
  }

}
