:host {
  display: inline-block;
  user-select: none;
}

.checkbox-wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 6px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: border-color 0.2s, background-color 0.2s;
  border: 2px solid var(--slate-300);
}

:host(.hover:not(.disabled)) .checkbox-box {
  border-color: var(--primary-500);
}

:host(.checked) .checkbox-box {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
}

:host(.checked) .checkbox-box svg {
  color: #fff;
}


:host(.disabled) {
  opacity: 0.6;
  cursor: not-allowed;
}

:host(.disabled) .checkbox-box {
  border-color: var(--slate-300);
  background-color: var(--slate-200);
}
