.input-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0.32px;
  color: var(--Bluish-Gray-10);
  font-family: "Source Sans Pro", sans-serif;
}
