.input-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0.32px;
  color: var(--slate-800);
  font-family: "Plus Jakarta Sans", "Source Sans Pro", sans-serif;
}
